<a href="https://colab.research.google.com/github/2303a51852/Python-for-DataScience/blob/main/08_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
#student data
students=pd.DataFrame({
    'Student_ID':[101,102,103,104],
    'Name':['Ravi','Neha','Kiran','Sita']
})

#marks data
marks=pd.DataFrame({
    'Student ID':[101,102,103,105],
    'Marks':[85,90,78,88]
})

#merge on student id
merge_df=pd.merge(students,marks,left_on='Student_ID', right_on='Student ID')
print("Merge DataFrame:")
print(merge_df)

Merge DataFrame:
   Student_ID   Name  Student ID  Marks
0         101   Ravi         101     85
1         102   Neha         102     90
2         103  Kiran         103     78

In [6]:
import pandas as pd
ts=pd.to_datetime("2025-08-22 15:45:30")
print(ts.year)
print(ts.month)
print(ts.day)
print(ts.hour)
# print(ts.weekend) # This line caused an error
print(ts.hour)

2025
8
22
15
15

In [9]:
import pandas as pd
import numpy as np
#create a date range
dates=pd.date_range(start='2025-01-01',periods=6,freq='D')
#random values for each date
ts=pd.Series(np.random.randn(6),index=dates)
print(ts)
print(ts['2025-01-02'])
print(ts['2025-01-02':'2025-01-04'])

2025-01-01    1.210176
2025-01-02   -1.327800
2025-01-03    0.981121
2025-01-04   -0.628601
2025-01-05    0.047138
2025-01-06    2.111307
Freq: D, dtype: float64
-1.327799535004352
2025-01-02   -1.327800
2025-01-03    0.981121
2025-01-04   -0.628601
Freq: D, dtype: float64

In [14]:
#daily data
ts=pd.Series(np.random.randn(10),index=pd.date_range('2025-01-01',periods=10,freq='D'))
print(ts)
monthly_mean=ts.resample('M').mean()
print(monthly_mean)
print(ts.shift(1))
print(ts.shift(-1))

2025-01-01    0.916819
2025-01-02   -0.226753
2025-01-03   -0.233236
2025-01-04    0.643642
2025-01-05   -0.762191
2025-01-06    2.515079
2025-01-07    0.668502
2025-01-08   -0.735164
2025-01-09   -0.379581
2025-01-10    0.854713
Freq: D, dtype: float64
2025-01-31    0.326183
Freq: ME, dtype: float64
2025-01-01         NaN
2025-01-02    0.916819
2025-01-03   -0.226753
2025-01-04   -0.233236
2025-01-05    0.643642
2025-01-06   -0.762191
2025-01-07    2.515079
2025-01-08    0.668502
2025-01-09   -0.735164
2025-01-10   -0.379581
Freq: D, dtype: float64
2025-01-01   -0.226753
2025-01-02   -0.233236
2025-01-03    0.643642
2025-01-04   -0.762191
2025-01-05    2.515079
2025-01-06    0.668502
2025-01-07   -0.735164
2025-01-08   -0.379581
2025-01-09    0.854713
2025-01-10         NaN
Freq: D, dtype: float64

/tmp/ipython-input-2110535551.py:4: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean=ts.resample('M').mean()

In [16]:
import pandas as pd
import numpy as np
dates=pd.date_range(start='2025-01-01',periods=10,freq='D')
# The number of values must match the number of dates in the index (10)
ts=pd.Series(np.random.randn(10),index=dates) # Using random data for demonstration
print("Original Series:")
print(ts)
# Use 'ts' instead of 'prices' and 'window' instead of 'Window'
print("3-day Moving average:\n",ts.rolling(window=3).mean())

Original Series:
2025-01-01    0.166287
2025-01-02   -0.047959
2025-01-03   -1.131349
2025-01-04   -0.744549
2025-01-05    1.272289
2025-01-06    1.388864
2025-01-07   -0.570448
2025-01-08   -0.177408
2025-01-09    0.527155
2025-01-10   -0.678640
Freq: D, dtype: float64
3-day Moving average:
 2025-01-01         NaN
2025-01-02         NaN
2025-01-03   -0.337674
2025-01-04   -0.641286
2025-01-05   -0.201203
2025-01-06    0.638868
2025-01-07    0.696902
2025-01-08    0.213669
2025-01-09   -0.073567
2025-01-10   -0.109631
Freq: D, dtype: float64